/* ===== novo footer ===== */

.footer {
  background-color: #0B004A;
  padding: 40px 20px;
  position:relative;
}

/* Grid 4 colunas */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 60px 0 40px;
  width: 100%;
}

/* Lado esquerdo */
.footer-info {
  display: flex;
  flex-direction:row;
  gap: 50px;
}

.footer-address {
  color: #ccc;
  font-size: 12px;
  line-height: 1.5;
  max-width: 420px;
}

.footer-icons-center  {
 position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 16px;
}

.footer-icons-center a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #0B004A;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.footer-icons-center a:hover {
  background-color: #333;
   border-radius: 50%;
  background-color:#ccc;
  transition: background-color 0.3s ease;
}

.footer-icons-center img {
  width: 40px;
  height: 40px;
}

  .footer-info {
    align-items: center;
  }

/* Lado direito */
.footer-logo img {
  max-width: 180px;
  height: auto;
}

/* Responsivo */

@media (max-width: 768px) {
.footer {
  background-color: #0B004A;
  padding: 40px 20px;
  position:relative;
}
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }

  .footer-icons-center {
    order: 1;
  }

  .footer-logo {
    order: 2;
  }

  .footer-info {
    order: 3;
  }
}

.footer-bottom {
  border-top: 1px solid rgb(57, 57, 57);
  background: #b6a9ff;
  justify-content: center;
  padding: 20px;
  font-size: 0.8rem;
  color: #383838;
}
.footer-links {
  margin-top: 5px;
  margin-bottom: 10px;

}
.footer-links a {
  color: #383838;
  font-size: 0.8rem;
  text-decoration: none;
  margin: 0 8px;
}
.footer-links a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer-links span {
  color: #555;
}

/* Tablet */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
 /*.services-col {
    grid-column: span 2;
  }*/
 *{
  box-sizing: border-box;
}
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: nowrap;
  }
}
/* ===== fim do novo footer ===== */
