body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: #000000;
  text-align: center;
  background: url("/images/404.jpg") no-repeat center/cover;
}

.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* escurece a imagem para contraste */
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
}

h1 {
  font-size: 7em;
  margin-top: -40px;
}

p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

a {
  display: inline-block;
  padding: 12px 24px;
  background: #090034;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s;
}

a:hover {
  background: #bc8700;
}
